<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Wanderlust</title>
</head>
<body>
    <h2>Listining In Detail:</h1>
    <h3 class="title"><%=listing.title%></h3>
    <p class="desc"><%=listing.description%></p>
        <img src="<%=listing.img%>" alt="Image">
        <p class="price">&#8377;<%=listing.price.toLocaleString("en-IN")%></p>
        <p class="location"><%=listing.location%></p>
        <p class="country"><%=listing.country%></p>
        <a href="/listings/<%=listing._id%>/edit">Edit!</a>

         <br> 
         <br>
          <br>
       
        <form  method="post" action="/listings/<%=listing.id%>?_method=DELETE">
            <button>Delete</button>
        </form>
</body>
</html>